
<div class="row-fluid" style="margin:40px 0 30px 0;">
	<div class="span4 livechat">
		<div style="padding-left:50px;">
			<h1>Join us!</h1>
			<h2>Live chats</h2>
			<em>(no registration required)</em>
			<h2 style="font-weight:normal;">11 am to 2 pm CST<br />
			January 29 and 30</h2>
			<button class="btn btn-warning btn-large span8 offset1" style="margin-top:30px;font-size:22px;font-weight:500;">coming soon!</button>
		</div>
	</div>
	<div class="span8">
		<%= image_tag 'AEA-MediaKit-web-LiveChat.png' %>
	</div>
</div>

<div class="row-fluid">
	<div class="span4 livechat" style="padding-left:50px;margin-top:-1em;">
		<h3><span>Step 1:</span> Watch the video</h3>
		<p>Available 24/7 after noon CST, January 16. 
		Click here: <a href="http://vimeo.com/album/2205545" target="_blank">http://vimeo.com/album/2205545</a><br />
		Enter password: electrolysis</p>

		<h3><span>Step 2:</span> Join the live chat</h3>
		<p>Share your thoughts during our live chat. You can also send questions about the topics covered in the video to info@electrologymedia.com before the live chat. We’ll make sure your questions are addressed!</p>

		<h3><span>Reminder:</span> Complete the survey</h3>
		<p>Please complete your AEA Member Needs Assessment Survey, <a href="#">Click here now!</a></p> 

	</div>
	<div class="span7 main-right">
		<p>Dear member,</p>
		<p>The AEA is spreading the word about electrolysis with a brand new look and a new approach. We need you to be a part of this fresh start!</p>
		<p>Please take the time to watch the online video webinar, "A New Approach," which shares the how and why behind this new campaign. All you need is an Internet connection and 15 minutes.</p>
	</div>

</div>