<!-- FAQs -->
  <div class="field">
    <%= f.label :faq_question %><br />
    <%= f.text_area :faq_question, rows: '2', class: 'span6' %>
  </div>
  <div class="field">
    <%= f.label :faq_answer %><br />
    <%= f.text_area :faq_answer, rows: '3', class: 'span6' %>
  </div>
<!-- END FAQS -->
