<!-- URLs -->
  <div class="field">
    <%= f.label :link_display_text %><br />
    <%= f.text_field :link_display_text, class: 'span6' %>
  </div>
  <div class="field">
    <%= f.label :link_url %><br />
    <%= f.text_field :link_url, class: 'span6' %>
  </div>
<!-- END URLs -->