<p id="notice"><%= notice %></p>

<div class="row">
<div class="span7">

	<div class="row-fluid">

		<div class="span11 offset1">
			<div class="span8">
				<h1>Logos</h1>
				<p>These logos are provided for use by members of the American Electrology Association and the media. Please read <a href="https://aea2-assets.s3.amazonaws.com/uploads/AEA-BrandStandards-summer2012-v2.pdf" target="_blank">AEA Logo Usage Guidelines (pdf)</a> for acceptable logo standards and practices.</p>
<% unless @assets_logos.nil? %>
	<% @assets_logos.each do |a| %>
		<div class="span5" style="display:block;text-align:center;border:1px solid #e2e2e2;margin:0 10px 10px 0;"><%= image_tag a.aea_file_url(:medium) %><br /><%= link_to a.name, a.aea_file_url %> </div>
	<% end %>
<% end %>
</div>

	<div class="span4">
		<ul id="assets" class="topMargin">
	<li><a href="https://aea2-assets.s3.amazonaws.com/uploads/AEA-BrandStandards-summer2012-v2.pdf" target="_blank">AEA Logo Usage Guidelines (pdf)</a></li>
	</ul>
	</div>

</div>
</div>
</div>
</div>



