
body {background: url('/assets/background2.gif') no-repeat center center fixed;
      	-webkit-background-size: cover;
      	-moz-background-size: cover;
      	-o-background-size: cover;
      	background-size: cover;
      	height:100%;}

.container {width:980px;margin-top:0;padding-bottom:20px;}
#content {background:url(/assets/main-bg.gif) 0 0 repeat-y #fff;}
#header {display:block;background:url(/assets/top-bg.jpg) 0 0 #fff;}
#main {background:url(/assets/blue-gradient.png) 331px 0 no-repeat;}

h3, h1 {color:#008fc5;font-family:Palatino, times, serif;font-size:1.4em;font-weight:100;margin:0;}
h3 a, h3 a:visited {color:#008fc5;}
h3 a:hover {background-color:transparent;}
h1 {font-size:2em;}
p {font-family:arial, sans-serif;font-size:.9em;}
ul {margin-left:10px;}
ul#assets li {list-style-image:url(/assets/li-arrow.png);margin-bottom:1em;margin-right:10px;}
/*li {}*/
.rightBorder {border-right:1px solid #cdcdcd;}
/*.faq {display:block;padding-bottom:3em;float:left;}*/

#sb_box {width:220px;padding:15px;margin:15px 0 0 30px;color:#fff;
		-moz-box-shadow:    -6px 6px 12px 0px #037db1;
  		-webkit-box-shadow: -6px 6px 12px 0px #037db1;
  		box-shadow:         -6px 6px 12px 0px #037db1;}
#sb_box a, #sb_box a:visited {color:#fff;}
#sb_box a:hover {background-color:transparent;}
.rightNav {float:right;margin-top:0px;padding-left:0px;margin-left:0px;}

#footer {background-color:#6d6e71;padding:20px 0 20px 0;color:#fff;}
#footer #facebook {margin-left:27px;}
#footer a, #footer a:visited {color:#e2e2e2;} 
#footer a:hover {background-color: transparent;}

.show_content {margin:50px 0px 0 50px;width:587px;}
.image-link:hover {background-color: transparent;}

 li a:hover {color:#000;background-color: transparent;}
 th {text-align:left;}
 label {margin:20px 0 -18px 0 ;}
 input {margin:0;}

