  	#main-pages {background:url(/assets/blue-gradient.png) 0 0 repeat-x;min-height:500px;}
  	.livechat h1 {color:#f15c22;font-family:arial, sans-serif;font-size:60px;font-weight:bold;}
		.livechat .btn-warning {}
		.livechat em {font-family:Palatino, times, serif;font-size:18px;}
		.livechat h3 span {color:#f15c22;margin-top:-1em;}
		.livechat p {font-size:12px;}
		.main-right p {font-size:15px;line-height:1.5em;}
