<%= pr_category(category) %>

<!--
<p>Updated 3:26 PM ET, Friday, September 7, 2012</p>

<h5>Trend Report: From Barely There to Totally Bare, Hair Removal Goes All The Way This Season</h5>

<p><em>Getting smooth is easier than ever with a wide variety of options available.</em></p> 

<p>Before you tie on that teeny-weeny bikini this summer, you'll want to check out this summer's hottest trend in hair removal: barely there to totally bare. We're talking about body hair, and while everyone has it, this season, it's hot to not. So before hitting the beach, ladies are looking for ways to get smooth. There are a number of ways to get rid of unwanted hair—no matter  …</p>

<p>See full press release</p> -->